<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            {{!-- <a href="/">Home</a> --}}
            {{!-- <a href="/dashboard">Dashboard</a> --}}
           
            {{#if isLoggedIn}}
            <a href="/homepage">Home</a>
            <a hidden="hidden" href="/login" >Login</a>
            <a href="/dashboard">Dashboard</a>
            {{else}}
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/login">Login</a>
            
            {{/if}}
            <a href="/login" id="logout-btn">Logout</a>
        </nav>
        {{!-- {{#if dashboard}}
        <div>Your Dashboard</div>
        {{else}}
        <div>The Hack Blog</div>
        {{/if}} --}}
    </header>
    {{{body}}}
</body>
</html>
<script src="../../js/logout.js"></script>