<section>
    comments
    <div>
        {{blog.id}}
        {{blog.title}}
        {{blog.body}}
        {{blog.date}}
    </div>
    <div>
        comment
        <div id="comment-error"></div>
        <textarea id="comment"></textarea>
    </div>
    <button id="comment-btn">Submit</button>
</section>

<script src="../js/comment.js"></script>