<section>
    <div class="hack-header">
        <div class="hack-title">
            The Hack Blog
        </div>  
    </div>
    
        <div>
            <div class="blog-header">
                <span class="title">{{blog.title}}</span>
                <span class="username">Posted by {{blog.user.username}} on {{newDate blog.date}}</span>
                
            </div>
            
            <div class="blog-body">{{blog.body}}</div>
             
        </div>
    
    <div>
        <div class="comment-header"></div>
        <div class="comment-box">
        <div class="comment-title" id="comment-error">Comment</div>
        <textarea class="comment-body" id="comment"></textarea>
        <button class="comment-btn" id="comment-btn">Submit</button>
        </div>
        
    </div>
   
    
    
</section>

<script src="../js/comment.js"></script>