<section>
    <div class="hack-header">
        <div class="dashboard-title">
            Your Dashboard
        </div>
    </div>
    
    <div class="blog-header">Create New Post</div>
    <form class="blog-box" id="blog-form">
        <div class="post-title" id="create-blog-error">Title</div>
        <div><input class="input-title" type="text" id="blog-title" placeholder="blog-title"/></div>
        <div class="content-title">Content</div>
        <textarea class="blog-content" id="blog-content" placeholder="blog-content"></textarea>
        <div>
            <button class="create-btn" id="create-blog-btn">Create</button>
        </div>
        
    </form>
        
</section>

<script src="../js/createblog.js"></script>