<div>
    <div>
        Your Dashboard
    </div>
    <div>Create New Post</div>
    <form id="blog-form">
        <div id="create-blog-error"></div>
        <div>Title: <input type="text" id="blog-title" placeholder="blog-title"/></div>
        <div>Content: <textarea id="blog-content" placeholder="blog-content"></textarea></div>
        <button id="create-blog-btn">Create</button>
    </form>
</div>

<script src="../js/createblog.js"></script>