<div>Your Dashboard</div>
<div>
    {{#each blogs as |blog|}}
    <button>
        <a href="/updateblog/{{blog.id}}">
            <span>{{blog.id}}</span>
            <span>{{blog.title}}</span>
            <span>{{blog.date}}</span>
        </a>
    </button>
    {{/each}}
</div>
<a href="/createblog">+ New Post</a>

