<div>Your Dashboard</div>
<div>
    {{#each blogs as |blog|}}
    <div>
        <span>{{blog.id}}</span>
        <span>{{blog.title}}</span>
    </div>
    {{/each}}
</div>
<a href="/createblog">+ New Post</a>

<script src="../js/dashboard.js"></script>