<form id="login_form">
    Login to Hack Blog
    <div id="errors"></div>
    <div>
        Username: <input type="text" id="username" placeholder="Username Here" />
    </div>
    <div>
        Password: <input type="password" id="password" placeholder="Password Here" />
    </div>
    <button>Login</button>
    <a href="/signup">Sign up instead</a>
</form>

<script src="../js/login.js"></script>