<form id="login_form">
    <div>
        Username: <input type="text" id="username" placeholder="Username Here" />
    </div>
    <div>
        Password: <input type="password" id="password" placeholder="Passwor Here" />
    </div>
    <button>Login</button>
</form>