<form id="login_form">
    Login to Hack Blog
    <div id="errors"></div>
    <div>
        Username: <input type="text" id="username" placeholder="Username Here" />
    </div>
    <div>
        Password: <input type="password" id="password" placeholder="Password Here" />
    </div>
    <button>Login</button>
</form>
<form id="signup_form">
    Please Register
    <div id="signup_errors"></div>
    <div>
        Username: <input type="text" id="username_register" placeholder="Username Here" />
    </div>
    <div>
        Password: <input type="password" id="password_register" placeholder="Password Here" />
    </div>
    <button>Sign Up</button>
</form>

<script src="../js/login.js"></script>