<form id="signup_form">
    Please Register
    <div id="signup_errors"></div>
    <div>
        Username: <input type="text" id="username_register" placeholder="Username Here" />
    </div>
    <div>
        Password: <input type="password" id="password_register" placeholder="Password Here" />
    </div>
    <button>Sign Up</button>
    <a href="/login">Login instead</a>
</form>

<script src="../js/signup.js"></script>