<div>
    Edit Post
    <div id="">
    {{blog.id}}
    {{blog.title}} 
    <div id="update-error"></div>
    <textarea id="blog-content">{{blog.body}}</textarea>
    </div>
    <div>
        <button id="update-btn">
            Update Post 
        </button>
    </div>
    <div id="delete-error"></div>
    <div>
        <button id="delete-btn">
            Delete
        </button>
    </div>
    
</div>

<script src="../js/updateblog.js"></script>