.nav-bar {
    background-color: blueviolet;
    padding: 10px 0px 10px 20px;
}

.home-link,
.login-link,
.dashboard-link,
.logout-link {
    margin-right: 20px;
    color: white;
}

.hack-header {
    background-color: blueviolet;
    padding: 5px 20px 15px 20px;
}

.hack-title {
    font-size: 20px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: blueviolet;
    box-shadow: 10px 10px 20px rgb(44, 44, 44);
}

.blog-header {
    border: 3px solid blueviolet;
    margin: 5px 10px 0px 10px; 
    padding: 5px 15px 5px 15px;
    background-color: blueviolet;
    color: white;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.username {
    float: right;
    font-size: 13px;
    margin-top: 5px;
}

.blog-body {
    border: 3px solid blueviolet;
    margin: 0px 10px 0px 10px; 
    padding: 15px;
}