.nav-bar {
    background-color: blueviolet;
    padding: 10px 0px 10px 20px;
}

.home-link,
.login-link,
.dashboard-link,
.logout-link {
    margin-right: 20px;
    color: white;
}

.hack-header {
    background-color: blueviolet;
    padding: 5px 20px 15px 20px;
}